Nothing should be ignored based on the provided file changes. The only modified file is a source code file (.cs), which should not be added to .gitignore.
/.vs
/dist/light-market
/node_modules/.bin
/src/Application/LampEcommerce.Application/bin
/src/Application/LampEcommerce.Application/obj/Debug/net8.0
/src/Application/LampEcommerce.Application/obj/Release/net8.0
/src/Application/LampEcommerce.Application/obj
/src/Domain/LampEcommerce.Domain/bin
/src/Domain/LampEcommerce.Domain/obj/Debug/net8.0
/src/Domain/LampEcommerce.Domain/obj/Release/net8.0
/src/Domain/LampEcommerce.Domain/obj
/src/Infrastructure/LampEcommerce.Infrastructure/bin
/src/Infrastructure/LampEcommerce.Infrastructure/obj/Debug/net8.0
/src/Infrastructure/LampEcommerce.Infrastructure/obj/Release/net8.0
/src/Infrastructure/LampEcommerce.Infrastructure/obj
/src/WebAPI/LampEcommerce.WebAPI/bin
/src/WebAPI/LampEcommerce.WebAPI/obj
/src/WebAPI/LampEcommerce.WebAPI/wwwroot
/.angular/cache/17.3.12/light-market
/node_modules
node_modules/
Publish UI.ps1
Publish UI.ps1
Build UI.bat
package-lock.json
